/* For the heading pan-left animation */
@keyframes pan-left {
  from {
    transform: translateX(-100%); /* Start off-screen from the left */
    opacity: 0; /* Start hidden */
  }
  to {
    transform: translateX(0); /* End at its original position */
    opacity: 1; /* Fully visible */
  }
}

/* For the background image pan-down animation */
@keyframes pan-down {
  from {
    transform: translateY(-100%); /* Start above the screen */
    opacity: 0; /* Start hidden */
  }
  to {
    transform: translateY(0); /* End at its original position */
    opacity: 1; /* Fully visible */
  }
}

/* For the background image fade-in animation */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

/* Utility Classes */
.flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
.flex-space-between {
  justify-content: space-between;
  align-items: center;
}
.flex-1 {
  flex: 1;
}
.gap-16 {
  gap: 16px;
}
.gap-24 {
  gap: 24px;
}

.fa-arrow-right {
  margin-top: 3px;
}

/* Navbar */

.navbar {
  padding: 16px 220px;
  background-color: #043873;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* frame 375 */
.main-menu {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

/* nav-menu */
.nav-menu {
  width: 551.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.logo {
  display: flex;
  justify-content: space-between;
}

.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 28px;
  font-weight: 700;
  line-height: 33.89px;
  color: #fff;
  margin-right: 47px;
}

.logo img {
  margin-top: 2.5px;
  margin-right: 10px;
}

.nav-menu ul {
  list-style: none;
  display: flex;
  gap: 24px;
}

/* Product, Solutions, Resources, Pricing */
.nav-menu li {
  gap: 10px;
}

.nav-menu li a {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease; /* Smooth transition for hover or active state */
}

/* down-arrow */
.nav-menu li a i {
  padding: 10px;
}

/* btn */

.nav-btn {
  display: flex;
  height: 60px;
  gap: 24px;
}

.login-btn {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: -0.02em; /* Matches letter spacing of -2% */
  color: #043873; /* Adjust as per your design */
  text-decoration: none;
  padding: 16px 40px; /* Add padding for better click area */
  border-radius: 8px;
  background-color: #ffe492;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: background-color 0.3s ease; /* Smooth transition for hover or active state */
}

.btn-free-trial {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: -0.02em; /* Matches letter spacing of -2% */
  background-color: #4f9cf9;
  padding: 16px 24px;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background-color 0.3s ease;
}

/* Hero */

.hero {
  position: relative; /* Establishes a positioning context for child elements */
  display: flex;
  align-items: center;
  height: 901.44px; /* Hug height allows flexibility with content size */
  padding: 140px 220px; /* Applies even padding on top, right, bottom, and left */
  overflow: hidden; /* Hides any content that overflows the container */
  display: flex; /* For layout control if needed */
  flex-direction: column; /* Stacks child elements vertically */
  gap: 0px; /* Ensures no additional spacing between child elements */
  background: #043873;
  z-index: 1;
}

.hero-bg {
  display: flex;
  position: absolute; /* Positions the image relative to the .hero container */
  top: 180px;

  z-index: -1; /* Places it behind the hero content */
  object-fit: cover; /* Ensures the image covers the area proportionally */
  animation: fade-in 1.5s ease-out forwards; /* Fade-in animation for background */
}

.hero-header {
  display: flex;
  justify-items: center;
  color: #fff;
}

.heading {
  width: 656px; /* Fixed width */
  height: auto; /* Hug height, adjusts dynamically to the content */
  display: flex; /* Flexbox for layout control */
  flex-direction: column; /* Stack child elements vertically */
  gap: 60px; /* Defines the vertical spacing between child elements */
  text-align: left; /* Align content to the left */
  margin-top: 103px;
  margin-right: 50px;
  animation: pan-left 1s ease-out forwards; /* Heading pan-left animation */
}

.hero-image {
  width: 100%;
  animation: fade-in 1.5s ease-out forwards; /* Fade-in animation for background image */
}

.header-h2 {
  font-family: "Inter", sans-serif;
  font-size: 64px; /* Font size as specified */
  font-weight: 700; /* Bold weight */
  line-height: 77.45px; /* Matches the specified line height */
  letter-spacing: -0.02em; /* Adjusts spacing between letters */
  text-align: left; /* Align text to the left */
  text-underline-position: from-font; /* Default underline position */
  text-decoration-skip-ink: none; /* Ensures underline doesn't skip through characters */
}

.paragraph-p2 {
  font-family: "Inter", sans-serif; /* Use the Inter font family */
  font-size: 18px; /* Font size as specified */
  font-weight: 400; /* Regular font weight */
  line-height: 30px; /* Line height */
  letter-spacing: -0.02em; /* Adjusts letter spacing */
  text-align: left; /* Align text to the left */
  text-underline-position: from-font; /* Default underline position */
  text-decoration-skip-ink: none; /* Ensures underline doesn't skip characters */
}

.heading .btn-free-trial {
  width: 250px;
}

.hero-image {
  display: flex;
  align-self: flex-start; /* Align the hero image to the top */
  padding: 0; /* Ensure no unnecessary padding */
  max-width: 100%; /* Adjust width to keep responsiveness */
}

.hero-image img {
  width: 100%; /* Ensure the image adjusts to the container */
  height: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Keeps the image properly contained */
  gap: 4px;
}

/* Work Management */

.wm-s2 {
  display: flex; /* For layout control */
  flex-direction: column; /* Aligns child elements horizontally */
  align-items: center; /* Vertically center items within the row */
  padding: 140px 220px;
  gap: 100px; /* Space between child elements */
  background-color: #fff;
  position: relative; /* Enables the positioning context for child elements */
  overflow: hidden; /* Ensures no extra space is rendered around the background */
}

.pm {
  display: flex;
  position: absolute; /* Positions the image relative to the .hero container */
  align-items: center;
  margin-top: 115px;
  justify-content: center;
  left: 12%;
  z-index: 2; /* Places it behind the hero content */

  overflow: hidden; /* Ensures no extra space is rendered around the background */
  width: 678.74px;
  height: 65.55px;
  animation: fade-in 1.5s ease-out forwards; /* Fade-in animation for background */
}

.wm-s2 .s2-bg {
  display: flex;
  position: absolute; /* Positions the image relative to the .hero container */
  align-items: center;
  margin-top: 55px;
  left: 0%;
  justify-content: center;
  z-index: 1; /* Places it behind the hero content */
  object-fit: cover; /* Ensures the image covers the area proportionally */
}

.wm-c1-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 3;
  margin-bottom: 100px;
}

.c1 {
  animation: fade-in 1.5s ease-out forwards; /* Fade-in animation for background */
}

.c2 {
  animation: fade-in 1.5s ease-out forwards; /* Fade-in animation for background */
}

.wm-c2-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 3;
}

.wm-s2 .wm-container {
  display: flex; /* For layout control */
  flex-direction: column; /* Aligns child elements horizontally */
  align-items: center; /* Vertically center items within the row */
}

.wm-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 60px; /* Space between elements */
  margin-right: 70px;
  animation: pan-left 1s ease-out forwards; /* Heading pan-left animation */
}

.header-h1-text {
  font-family: "Inter", sans-serif; /* Use Inter font family */
  font-size: 72px; /* Font size for H1 */
  font-weight: 700; /* Bold font weight */
  line-height: 87.14px; /* Line height for proper spacing */
  letter-spacing: -0.02em; /* Adjust letter spacing */
  text-align: left; /* Align text to the left */
  text-underline-position: from-font; /* Default underline position */
  text-decoration-skip-ink: none; /* Prevent underline skips */
  color: #212529; /* Add a color to make it visible (adjust as needed) */
}

.p2-rg-int-c1 {
  font-family: "Inter", sans-serif; /* Font family */
  font-size: 18px; /* Font size */
  font-weight: 400; /* Regular font weight */
  line-height: 30px; /* Line height for readability */
  letter-spacing: -0.02em; /* Slightly tighter spacing */
  text-align: left; /* Align text to the left */
  color: #212529; /* Neutral dark color for text */
  text-underline-position: auto; /* Natural underline positioning */
  text-decoration-skip-ink: auto; /* Smooth underline skipping */
  margin: 0; /* Remove default margins for flexibility */
}

.btn-gs {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: -0.02em; /* Matches letter spacing of -2% */
  background-color: #4f9cf9;
  padding: 20px 40px;
  color: #fff;
  border-radius: 6px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background-color 0.3s ease;
}

.c2-img {
  margin-right: 80px;
}

.wm-margin-top {
  margin-top: 150px;
}

.wt-element {
  display: flex;
  position: absolute; /* Positions the image relative to the .hero container */
  align-items: center;
  margin-top: 185px;
  justify-content: center;
  margin-left: 910px;
  z-index: -1; /* Places it behind the hero content */

  overflow: hidden; /* Ensures no extra space is rendered around the background */
  width: 400px;
  height: 50px;
  animation: fade-in 1.5s ease-out forwards; /* Fade-in animation for background */
}

.text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px; /* Space between elements */
  animation: pan-down 1s ease-out forwards; /* Apply pan-down animation */
}

/* Use an Extension */

.ue-s3 {
  position: relative; /* Establishes a positioning context for child elements */
  display: flex;
  align-items: center;
  height: 901.44px; /* Hug height allows flexibility with content size */
  padding: 140px 220px; /* Applies even padding on top, right, bottom, and left */
  overflow: hidden; /* Hides any content that overflows the container */
  display: flex; /* For layout control if needed */
  flex-direction: column; /* Stacks child elements vertically */
  gap: 98px; /* Ensures no additional spacing between child elements */
  background: #043873;
  z-index: 1;
}

.ue-s3 .ue-element {
  display: flex;
  position: absolute; /* Positions the image relative to the .hero container */
  align-items: center;
  margin-top: 29px;
  justify-content: center;
  margin-left: 209px;
  z-index: -1; /* Places it behind the hero content */

  overflow: hidden; /* Ensures no extra space is rendered around the background */
  width: 395px;
  height: 50px;
  animation: fade-in 1.5s ease-out forwards; /* Fade-in animation for background */
}

.head-s3 {
  height: auto; /* Hug height, adjusts dynamically to the content */
  display: flex; /* Flexbox for layout control */
  flex-direction: column; /* Stack child elements vertically */
  gap: 60px; /* Defines the vertical spacing between child elements */
  text-align: left; /* Align content to the left */
  margin-top: 103px;
  margin-right: 50px;
  animation: pan-left 1s ease-out forwards; /* Heading pan-left animation */
}

.ue-s3 .btn-gs {
  width: 173px;
}

/* Customize */

.customize-s4 {
  position: relative; /* Establishes a positioning context for child elements */
  display: flex;
  align-items: center;

  padding: 140px 220px; /* Applies even padding on top, right, bottom, and left */
  overflow: hidden; /* Hides any content that overflows the container */
  display: flex; /* For layout control if needed */
  flex-direction: column; /* Stacks child elements vertically */
  gap: 98px; /* Ensures no additional spacing between child elements */

  z-index: 1;
}

.head-s4 {
  width: 1, 921px; /* Fixed width */
  height: auto; /* Hug height, adjusts dynamically to the content */
  display: flex; /* Flexbox for layout control */
  flex-direction: column; /* Stack child elements vertically */
  gap: 60px; /* Defines the vertical spacing between child elements */
  text-align: left; /* Align content to the left */
  animation: pan-left 1s ease-out forwards; /* Heading pan-left animation */
}

.c-margin-left {
  margin-left: 80px;
}

.customize-s4 .btn-gs {
  width: 173px;
}

.img-s4 {
  width: 843px;
  height: 410px;
  gap: 4px;
  animation: fade-in 1.5s ease-out forwards; /* Fade-in animation for background */
}

.c-element {
  display: flex;
  position: absolute; /* Positions the image relative to the .hero container */
  align-items: center;
  margin-top: 111px;
  justify-content: center;
  right: 13%;
  z-index: -1; /* Places it behind the hero content */

  overflow: hidden; /* Ensures no extra space is rendered around the background */
  width: 523.32px;
  height: 69.79px;
  animation: fade-in 1.5s ease-out forwards; /* Fade-in animation for background */
}

/* Pricing */

.cyp {
  position: relative; /* Establishes a positioning context for child elements */
  display: flex;
  align-items: center;
  height: 1272px;
  padding: 140px 220px; /* Applies even padding on top, right, bottom, and left */
  overflow: hidden; /* Hides any content that overflows the container */
  display: flex; /* For layout control if needed */
  flex-direction: column; /* Stacks child elements vertically */
  gap: 20px; /* Ensures no additional spacing between child elements */
  background-color: #fafafa;
  z-index: 1;
}

.mid {
  display: flex;
  align-items: center;
  text-align: center;
}

.cyp .p2-rg-int-c1 {
  margin: 0px 250px;
  text-align: center;
}

.cyp .cyp-element {
  display: flex;
  position: absolute; /* Positions the image relative to the .hero container */
  align-items: center;
  margin-top: 12px;
  justify-content: center;
  margin-left: 399px;
  z-index: -1; /* Places it behind the hero content */

  overflow: hidden; /* Ensures no extra space is rendered around the background */
  width: 410px;
  height: 80px;
  animation: fade-in 1.5s ease-out forwards; /* Fade-in animation for background */
}

.price-list {
  padding: 100px 220px; /* Applies even padding on top, right, bottom, and left */
  animation: fade-in 1.5s ease-out forwards; /* Fade-in animation for background */
}

.price-grid {
  display: flex;
  /* grid-template-columns: repeat(3, 1fr); */
  gap: 32px;
}

.price-board {
  height: 638.56px;
  width: 472.33px;
  border-radius: 10px;
  border: 1px solid #ffe492; /* Add 'solid' to define the border style */
  padding: 40px 44px;
  background-color: #fff;
}

.price-board .btn-gs {
  display: flex;
  align-items: center;
  width: 155px;
  background-color: #fff;
  border: 1px solid #ffe492; /* Add 'solid' to define the border style */
  color: #212529;
  padding: 16px 40px;
  border-radius: 8px;
}

.p3-rg-int {
  font-family: "Inter", sans-serif; /* Font family */
  font-size: 16px; /* Font size */
  font-weight: 400; /* Regular font weight */
  line-height: 20px; /* Line height for readability */
  letter-spacing: -0.02em; /* Slightly tighter spacing */
  text-align: left; /* Align text to the left */
  color: #212529; /* Neutral dark color for text */
  text-underline-position: auto; /* Natural underline positioning */
  text-decoration-skip-ink: auto; /* Smooth underline skipping */
  margin: 0; /* Remove default margins for flexibility */
}

.bullet-point {
  margin: 20px 0px;
  display: flex; /* Flex container for vertical alignment */
  flex-direction: column; /* Stacks list items vertically */
  justify-content: center;
  align-items: flex-start;
  gap: 28px; /* Space between elements */
}

.bullet-point ul {
  display: flex; /* Makes the <ul> a flex container */
  flex-direction: column; /* Arranges <li> elements in a column */
  align-items: flex-start; /* Aligns items to the start of the container */
  gap: 28px; /* Adds space between <li> items */
  list-style: none; /* Removes default bullet points */
}

.bullet-point ul li {
  display: flex; /* Makes the <li> a flex container */
  align-items: center; /* Aligns icon and text vertically */
  gap: 19px; /* Adds space between the icon (<i>) and the text (<p>) */
}

.text-block-cyp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 25px; /* Space between elements */
}

.p1-sb-int {
  font-family: "Inter", sans-serif; /* Font family */
  font-size: 24px; /* Font size */
  font-weight: 600; /* Regular font weight */
  line-height: 36px; /* Line height for readability */
  text-align: left; /* Align text to the left */
  color: #212529; /* Neutral dark color for text */
  text-underline-position: auto; /* Natural underline positioning */
  text-decoration-skip-ink: auto; /* Smooth underline skipping */
  margin: 0; /* Remove default margins for flexibility */
}

.header-h4-text {
  font-family: "Inter", sans-serif;
  font-size: 36px; /* Font size as specified */
  font-weight: 700; /* Bold weight */
  line-height: 43.57px; /* Matches the specified line height */
  letter-spacing: -0.02em; /* Adjusts spacing between letters */
  text-align: left; /* Align text to the left */
  text-underline-position: from-font; /* Default underline position */
  text-decoration-skip-ink: none; /* Ensures underline doesn't skip through characters */
}

/* Your Work */

.yw-s5 {
  position: relative; /* Establishes a positioning context for child elements */
  display: flex;
  align-items: center;
  height: 574px; /* Hug height allows flexibility with content size */
  padding: 140px 220px; /* Applies even padding on top, right, bottom, and left */
  overflow: hidden; /* Hides any content that overflows the container */
  display: flex; /* For layout control if needed */
  flex-direction: column; /* Stacks child elements vertically */
  gap: 98px; /* Ensures no additional spacing between child elements */
  background: #043873;
  z-index: 1;
  color: #ffffff;
}

.yw-s5 .yw-element {
  display: flex;
  position: absolute; /* Positions the image relative to the .hero container */
  align-items: center;
  margin-top: 63px;
  justify-content: center;
  margin-left: 743px;
  z-index: -1; /* Places it behind the hero content */

  overflow: hidden; /* Ensures no extra space is rendered around the background */
  width: 290px;
  height: 23.96px;
  animation: fade-in 1.5s ease-out forwards; /* Fade-in animation for background */
}

.yw-s5 .header-s5 {
  width: 1481px;
  display: flex;
  justify-self: center;
  text-align: center;
  color: #fff;
  gap: 60px;
}

.header-s5 {
  height: auto; /* Adjusts height dynamically based on content */
  display: flex; /* Flexbox for layout control */
  flex-direction: column; /* Stacks child elements vertically */
  gap: 60px; /* Vertical spacing between child elements */
  text-align: center; /* Center-aligns text */
  align-items: center; /* Centers items horizontally */
  justify-content: center; /* Centers items vertically */
  color: #ffffff; /* Text color */
}

.header-s5 .text-block-s5 {
  width: 100%; /* Ensure the block stretches as needed */
  max-width: 1010px; /* Add a max-width constraint */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px; /* Space between elements */
  text-align: center; /* Center-aligns text */
  margin: 0 auto; /* Ensures horizontal centering when not full width */
  animation: pan-down 1s ease-out forwards; /* Background pan-down animation */
}

.header-h1-text-s5 {
  font-family: "Inter", sans-serif; /* Use Inter font family */
  font-size: 72px; /* Font size for H1 */
  font-weight: 700; /* Bold font weight */
  line-height: 87.14px; /* Line height for proper spacing */
  letter-spacing: -0.02em; /* Adjust letter spacing */
  text-align: left; /* Align text to the left */
  text-underline-position: from-font; /* Default underline position */
  text-decoration-skip-ink: none; /* Prevent underline skips */
  color: #ffffff; /* Add a color to make it visible (adjust as needed) */
}

.p2-rg-int-c1-s5 {
  font-family: "Inter", sans-serif; /* Font family */
  font-size: 18px; /* Font size */
  font-weight: 400; /* Regular font weight */
  line-height: 30px; /* Line height for readability */
  letter-spacing: -0.02em; /* Slightly tighter spacing */
  text-align: center; /* Align text to the left */
  color: #ffffff; /* Neutral dark color for text */
  text-underline-position: auto; /* Natural underline positioning */
  text-decoration-skip-ink: auto; /* Smooth underline skipping */
  margin: 0; /* Remove default margins for flexibility */
  justify-self: center;
  align-self: center;
}

.btn-try {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: -0.02em; /* Matches letter spacing of -2% */
  background-color: #4f9cf9;
  padding: 20px 40px;
  color: #fff;
  border-radius: 6px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background-color 0.3s ease;
  text-align: center;
  justify-content: center;
  animation: fade-in 1.5s ease-out forwards; /* Fade-in animation for background */
}

.yw-s5 .btn-try {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 195px;
}

.bbgs4-5 {
  position: absolute; /* Place it in the flow */
  top: calc(
    100% + 4326px
  ); /* Adjust to align with the bottom of the Pricing section */
  left: 0;
  width: 680.74px; /* Set the image width */
  height: 691.34px; /* Set the image height */
  z-index: 2; /* Behind content */

  /* Lock the scale with transform: scale(1) to prevent resizing on zoom */
  transform: scale(1);
  transform-origin: top left; /* Locks the image to the top-left corner */

  /* Optional: Prevent zooming effect on resizing */
  will-change: transform;
}

/* Your Data */

.yd-s6 {
  position: relative; /* Establishes a positioning context for child elements */
  display: flex;
  align-items: center;
  height: 574px; /* Hug height allows flexibility with content size */
  padding: 140px 220px; /* Applies even padding on top, right, bottom, and left */
  overflow: hidden; /* Hides any content that overflows the container */
  display: flex; /* For layout control if needed */
  flex-direction: column; /* Stacks child elements vertically */
  gap: 98px; /* Ensures no additional spacing between child elements */
  background: #ffffff;
  z-index: 1;
  color: #212529;
  height: 661.13px;
}

.yd-s6 .yd-element {
  display: flex;
  position: absolute; /* Positions the image relative to the .hero container */
  left: 0%;
  margin-left: 417px;
  margin-top: 103px;

  z-index: -1; /* Places it behind the hero content */

  overflow: hidden; /* Ensures no extra space is rendered around the background */
  width: 310px;
  animation: fade-in 1.5s ease-out forwards; /* Fade-in animation for background */
}

.yd-img {
  animation: fade-in 1.5s ease-out forwards; /* Fade-in animation for background */
}

.header-yd-content {
  display: flex;
  align-items: center;
}

.heading-yd {
  text-align: left; /* Aligns text to the left */
  display: flex; /* Enables Flexbox layout */
  flex-direction: column; /* Stacks child elements vertically */
  align-items: left; /* Aligns all child elements to the left */
  gap: 60px; /* Adds spacing between child elements */
  animation: pan-in 1s ease-out forwards; /* Heading pan-in animation */
}

.heading-yd .btn-try {
  display: flex;
  align-items: left;
  text-align: left;
  justify-content: left;
  width: 197px;
}

.yd-s6 .yd-element-text {
  display: flex;
  position: absolute; /* Positions the image relative to the .hero container */
  align-items: center;
  margin-top: 111px;
  justify-content: center;
  right: 13%;
  z-index: -1; /* Places it behind the hero content */

  overflow: hidden; /* Ensures no extra space is rendered around the background */
  width: 523.32px;
  height: 69.79px;
}

/* Sponsors */

.sponsors {
  position: relative; /* Establishes a positioning context for child elements */
  display: flex;
  align-items: center;
  height: 538px; /* Hug height allows flexibility with content size */
  padding: 140px 220px; /* Applies even padding on top, right, bottom, and left */
  overflow: hidden; /* Hides any content that overflows the container */
  display: flex; /* For layout control if needed */
  flex-direction: column; /* Stacks child elements vertically */
  gap: 100px; /* Ensures no additional spacing between child elements */
  background: #ffffff;
  z-index: 1;
  color: #212529;
}

.sponsors .sp-element {
  display: flex;
  position: absolute; /* Positions the image relative to the .hero container */

  margin-left: 170px;
  margin-top: 60px;

  z-index: -1; /* Places it behind the hero content */

  overflow: hidden; /* Ensures no extra space is rendered around the background */
  width: 310px;
  animation: fade-in 1.5s ease-out forwards; /* Fade-in animation for background */
}

.sponsored {
  display: flex; /* Use Flexbox for layout */
  justify-content: space-between; /* Distribute logos evenly */
  align-items: center; /* Center logos vertically */
  gap: 209px; /* Add consistent spacing between logos */
}

.heading-sp {
  text-align: center; /* Aligns text to the left */
  display: flex; /* Enables Flexbox layout */
  flex-direction: column; /* Stacks child elements vertically */
  align-items: center; /* Aligns all child elements to the left */
  gap: 95px; /* Adds spacing between child elements */
  animation: fade-in 1.5s ease-out forwards; /* Fade-in animation for background */
}

.apps {
  position: relative; /* Establishes a positioning context for child elements */
  display: flex;
  align-items: center;
  height: 750.8px; /* Hug height allows flexibility with content size */
  padding: 140px 220px; /* Applies even padding on top, right, bottom, and left */
  overflow: hidden; /* Hides any content that overflows the container */
  display: flex; /* For layout control if needed */
  flex-direction: column; /* Stacks child elements vertically */
  gap: 100px; /* Ensures no additional spacing between child elements */
  background: #043873;
  z-index: 2;
  color: #ffffff;
}

.apps-bg {
  display: flex;
  position: absolute; /* Positions the image relative to the .hero container */
  top: 10px;

  z-index: -1; /* Places it behind the hero content */
  object-fit: cover; /* Ensures the image covers the area proportionally */
  animation: fade-in 1.5s ease-out forwards; /* Fade-in animation for background */
}

.header-h1-text-s8 {
  font-family: "Inter", sans-serif;
  font-size: 72px;
  font-weight: 700;
  line-height: 87.14px;
  letter-spacing: -0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}

.p2-rg-int-c1-s8 {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #ffffff;
  text-underline-position: auto;
  text-decoration-skip-ink: auto;
  margin: 0;
  justify-self: left;
  align-self: left;
}

.apps .text-block .p2-rg-int-c1-s8 {
  width: 750px;
}

.apps .text-block .header-h1-text-s8 {
  width: 550px;
}

.apps .btn-try {
  width: 194px;
}

.head-s8 {
  width: 798px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 60px;
  text-align: left;
  animation: pan-in 1s ease-out forwards; /* Heading pan-in animation */
}

.img-s8 {
  width: 582px;
  height: 470.8px;
  margin-right: 80px;
  animation: fade-in 1.5s ease-out forwards; /* Fade-in animation for background */
}

/* Client */

.cs {
  position: relative; /* Establishes a positioning context for child elements */
  display: flex;
  align-items: center;
  height: 994.46px; /* Hug height allows flexibility with content size */
  padding: 140px 220px; /* Applies even padding on top, right, bottom, and left */
  overflow: hidden; /* Hides any content that overflows the container */
  display: flex; /* For layout control if needed */
  flex-direction: column; /* Stacks child elements vertically */
  gap: 60px; /* Ensures no additional spacing between child elements */
  background: #ffffff;
  z-index: 1;
  color: #ffffff;
}

.cs .cs-element {
  display: flex;
  position: absolute; /* Positions the image relative to the .hero container */

  margin-left: 590px;
  margin-top: 60px;

  z-index: -1; /* Places it behind the hero content */

  overflow: hidden; /* Ensures no extra space is rendered around the background */
  width: 240px;
  height: 47.67px;
  animation: fade-in 1.5s ease-out forwards; /* Fade-in animation for background */
}

.cs1 {
  height: 520px;
  width: 471.67px;
  border-radius: 10px;

  padding: 60px 40px;
  gap: 60px;
  background-color: #ffffff;
  box-shadow: 15px 10px 50px 0px #0000001a; /* Adds a subtle shadow effect */
}

.card {
  display: flex;
  flex-direction: row;
  padding: 10px 220px;
  gap: 32px;
  animation: fade-in 1.5s ease-out forwards; /* Fade-in animation for background */
}

.comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px; /* Space between child elements */
  padding-bottom: 32px; /* Adds space between the content and the border */
  border-bottom: 1px solid #212529; /* Adds a bottom border */
}

.comment i {
  font-size: 79px; /* Controls the size of the icon */
  color: #043873; /* Set the color */
}

.name-box {
  margin-top: 70px;
  width: 383px; /* Fixed width */
  height: auto; /* Adjusts height dynamically to the content */
  display: flex; /* Flexbox for layout control */
  flex-direction: row; /* Stack child elements vertically */
  gap: 42px; /* Space between child elements */
}

.name {
  width: 100%; /* Fill container width */
  max-width: 246px; /* Limit the width to 246px */
  height: 95px; /* Fixed height */
  display: flex; /* Enables Flexbox for layout control */
  flex-direction: column; /* Stack child elements vertically */
  gap: 15px; /* Space between child elements */
}

.carousel-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Space between the dots */
}

.dot {
  width: 12px; /* Circle size */
  height: 12px;
  border-radius: 50%; /* Makes the buttons circular */
  background-color: #4f9cf9; /* Default color of the dots */
  border: none; /* Removes default button styling */
  cursor: pointer; /* Pointer cursor for interactivity */
  transition: background-color 0.3s ease; /* Smooth transition for hover or active state */
  animation: fade-in 1.5s ease-out forwards; /* Fade-in animation for background */
}

.dot.active {
  background-color: #043873; /* Active state color */
}

.ft-s10 {
  position: relative; /* Establishes a positioning context for child elements */
  display: flex;
  align-items: center;
  height: 735px; /* Hug height allows flexibility with content size */
  padding: 140px 220px; /* Applies even padding on top, right, bottom, and left */
  overflow: hidden; /* Hides any content that overflows the container */
  display: flex; /* For layout control if needed */
  flex-direction: column; /* Stacks child elements vertically */
  gap: 200px; /* Ensures no additional spacing between child elements */
  background: #043873;
  z-index: 1;
  color: #ffffff;
}

.header-s10 {
  width: 1481px;
  display: flex;
  justify-self: center;
  text-align: center;
  color: #fff;
}

.header-s10 .text-block-s10 {
  width: 608px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px; /* Space between child elements */
  text-align: center; /* Aligns text in the center */
  margin: 0 auto; /* Centers the block horizontally */
  animation: pan-down 1s ease-out forwards; /* Background pan-down animation */
}

.header-s10 .header-h1-text-s10 {
  font-family: "Inter", sans-serif; /* Use Inter font family */
  font-size: 72px; /* Font size for H1 */
  font-weight: 700; /* Bold font weight */
  line-height: 87.14px; /* Line height for proper spacing */
  letter-spacing: -0.02em; /* Adjust letter spacing */
  text-align: center; /* Align text to the left */
  text-underline-position: from-font; /* Default underline position */
  text-decoration-skip-ink: none; /* Prevent underline skips */
  color: #ffffff; /* Add a color to make it visible (adjust as needed) */
}

.header-s10 .p2-rg-int-c1 {
  font-family: "Inter", sans-serif; /* Font family */
  font-size: 24px; /* Font size */
  font-weight: 400; /* Regular font weight */
  line-height: 32px; /* Line height for readability */
  letter-spacing: -0.02em; /* Slightly tighter spacing */
  text-align: left; /* Align text to the left */
  color: #ffffff; /* Neutral dark color for text */
  text-underline-position: auto; /* Natural underline positioning */
  text-decoration-skip-ink: auto; /* Smooth underline skipping */
  margin: 0; /* Remove default margins for flexibility */
  text-align: center;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 10px;
}

.icons i {
  font-size: 60px;
  color: #ffffff;
  transition: color 0.3s ease; /* Smooth color transition */
}

/* Footer */

.footer {
  background-color: #043873; /* Footer background */
  color: #ffffff; /* Footer text color */
  padding: 140px 220px 0 220px; /* Top padding, no bottom padding */
  border-top: 1px solid #2e4e73; /* Adds a 1px white border at the top */
}

.footer-content {
  width: 1480px;
  margin: 0 auto 50px auto; /* Top and sides 0, bottom 30px */
  display: flex;
  flex-direction: column;
  gap: 100px; /* Space between Info and footer-bottom */
}

.logo-description {
  display: flex;
  flex-direction: column;
  width: 205.25px; /* Fill */
  gap: 15px;
}

.logo-description .logo-footer-img {
  width: 37px;
  height: 29px;
}

.logo-footer-link {
  display: inline-flex; /* Aligns img and p inline */
  align-items: center; /* Vertically center-aligns img and p */
  gap: 10px; /* Space between the logo image and the text */
  text-decoration: none; /* Removes underline from the link */
}

.logo-description p {
  display: flex;
  flex-direction: column;
  width: 205.25px; /* Fill */

  gap: 15px;
}

.logo-description .header-h1-text-f {
  font-family: "Inter", sans-serif; /* Use Inter font family */
  font-size: 28px; /* Font size for H1 */
  font-weight: 700; /* Bold font weight */
  line-height: 33.89px; /* Line height for proper spacing */
  text-align: left; /* Align text to the left */
  text-underline-position: from-font; /* Default underline position */
  text-decoration-skip-ink: none; /* Prevent underline skips */
  color: #ffffff; /* Add a color to make it visible (adjust as needed) */
}

.info {
  display: flex;
  justify-content: space-between;
  width: auto;
  gap: 100px;
  margin-bottom: 50px;
}

.info .p2-rg-int-c1 {
  color: #ffffff;
}

.product {
  display: flex;
  flex-direction: column;
  width: 205.25px; /* Fill */
  height: 127px; /* Hug */
  gap: 15px;
}

.product ul {
  display: flex;
  flex-direction: column;
  width: 205.25px; /* Fill */
  height: 127px; /* Hug */
  gap: 15px;
  list-style: none; /* Removes list bullets or numbers */
  padding: 0; /* Removes any default padding */
}

.product a {
  color: #ffffff;
  text-decoration: none; /* Removes underline from links */
}

.product .p1-sb-int {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.78px;
  letter-spacing: -0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}

.resources {
  display: flex;
  flex-direction: column;
  width: 205.25px; /* Fill */
  height: 127px; /* Hug */
  gap: 15px;
}

.resources ul {
  display: flex;
  flex-direction: column;
  width: 205.25px; /* Fill */
  height: 127px; /* Hug */
  gap: 16px;
  list-style: none; /* Removes list bullets or numbers */
  padding: 0; /* Removes any default padding */
}

.resources a {
  color: #ffffff;
  text-decoration: none; /* Removes underline from links */
}

.resources .p1-sb-int {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.78px;
  letter-spacing: -0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}

.company {
  display: flex;
  flex-direction: column;
  width: 205.25px; /* Fill */
  height: 127px; /* Hug */
  gap: 15px;
}

.company ul {
  display: flex;
  flex-direction: column;
  width: 205.25px; /* Fill */
  height: 127px; /* Hug */
  gap: 16px;
  list-style: none; /* Removes list bullets or numbers */
  padding: 0; /* Removes any default padding */
}

.company a {
  color: #ffffff;
  text-decoration: none; /* Removes underline from links */
}

.company .p1-sb-int {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.78px;
  letter-spacing: -0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}

.tryit {
  display: flex;
  flex-direction: column;

  gap: 23px;
}

.tryit ul {
  display: flex;
  flex-direction: column;
  width: 205.25px; /* Fill */
  height: 127px; /* Hug */
  gap: 16px;
  list-style: none; /* Removes list bullets or numbers */
  padding: 0; /* Removes any default padding */
}

.tryit a {
  color: #ffffff;
  text-decoration: none; /* Removes underline from links */
}

.tryit .p1-sb-int {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.78px;
  letter-spacing: -0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}

.tryit .btn-try {
  text-align: left;
  width: 200px;
  border-radius: 8px;
  padding: 20px 40px;
  gap: 10px;
}

.info-section {
  flex: 1;
}

.info-section h4 {
  margin-bottom: 10px;
  font-size: 16px;
}

.info-section p,
.info-section ul {
  font-size: 14px;
  margin: 0;
}

.info-section ul {
  list-style: none;
  padding: 0;
}

.info-section li {
  margin-bottom: 8px;
}

.info-section a {
  color: #ffffff;
  text-decoration: none;

  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.info-section p {
  color: #ffffff;
  text-decoration: none;

  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.78px;
  letter-spacing: -0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.tryit .header5 {
  font-family: "Inter", sans-serif; /* Font family */
  font-size: 28px; /* Font size (Updated from 24px to 28px) */
  font-weight: 700; /* Bold font weight */
  line-height: 36px; /* Line height for readability */
  letter-spacing: -0.02em; /* Slightly tighter spacing */
  text-align: left; /* Align text to the left */
  color: #ffffff; /* White color for text */
  text-underline-position: from-font; /* Natural underline positioning */
  text-decoration-skip-ink: none; /* Ensure no skipping of text decoration */
  margin: 0; /* Remove default margins for flexibility */
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  font-size: 14px;
  margin-bottom: 110px;
  padding: 35px 0;
  border-top: 1px solid #2e4e73; /* Keeps the border at the top */
}

.footer-info {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.footer-info p {
  display: flex;
  gap: 60px;
  align-items: center;
}

.footer-info a {
  color: #ffffff;
  text-decoration: none;
}

.footer-social {
  display: flex;
  gap: 32px;
}
.footer-social a {
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
}

.footer-info a i {
  padding: 0 6px; /* Adds space between icon and text */
  font-size: 16px; /* Adjust icon size */
}

/* Button hover */

.nav-menu ul li a:hover {
  color: #ffe492;
}

.nav-menu ul li a:after {
  color: #fff;
}

.login-btn:hover {
  background-color: #4f9cf9;
  color: #fff;
}

.btn-free-trial:hover {
  background-color: #ffe492;
  color: #043873;
}

.btn-gs:hover {
  background-color: #ffe492;
  color: #043873;
}

.btn-try:hover {
  background-color: #ffe492;
  color: #043873;
}

/* Base styles for price boards */
.price-grid .price-board {
  position: relative; /* Ensure all price boards are positioned relatively */
  transition: 0.5s; /* Smooth transition */
  padding: 40px 44px; /* Default padding for all price boards */
}

/* Hover effect for price-board */
.price-grid .price-board:hover {
  background: #043873; /* Change background color */
  color: #fff; /* Change text color */
  transform: scale(1.1); /* Expand price-board */
  z-index: 2; /* Ensure the hovered board stays above the others */
  padding: 80px 44px;
  height: auto;
}

/* Change color for the elements inside price-board */
.price-grid .price-board:hover .p1-sb-int,
.price-grid .price-board:hover .p3-rg-int {
  color: #fff; /* Change text color to white */
}

.price-grid .price-board:hover .header-h4-text {
  color: #ffe492; /* Change text color to white */
}

.price-grid .price-board:hover .bullet-point i {
  color: #ffe492; /* Change text color to white */
}

/* Optional: Add a different color for the "Get Started" button */
.price-grid .price-board:hover .btn-gs {
  background: #4f9cf9; /* Change background color */
  color: #fff; /* Change text color */
  border: none; /* Remove border */
}

/* Optional: Add a different color for the "Get Started" button */
.price-grid .price-board:hover .btn-gs:hover {
  background-color: #ffe492;
  color: #043873;
  border: none; /* Remove border */
}

/* Clients Hover */

.card .cs1:hover {
  transition: 0.5s; /* Smooth transition */
  box-shadow: none;
  background-color: #4f9cf9;
}

.card .cs1:hover .comment {
  border-bottom: 1px solid #fff; /* Adds a bottom border */
}

.card .cs1:hover .comment i {
  color: #fff; /* Adds a bottom border */
}

.card .cs1:hover .p2-rg-int-c1 {
  color: #fff;
}

.card .cs1:hover .p1-sb-int {
  color: #043873;
}

.card .cs1:hover .p3-rg-int {
  color: #fff;
}

.dot:hover,
.dot:focus {
  background-color: #043873; /* Highlight color when hovered or focused */
  outline: none; /* Removes focus ring for cleaner look */
}

.card .cs1.active {
  transition: 0.5s; /* Smooth transition for animation */
  background-color: #4f9cf9; /* Active background color */
  box-shadow: none;
}

.card .cs1.active .comment {
  border-bottom: 1px solid #fff; /* Adds a bottom border */
}

.card .cs1.active .comment i {
  color: #fff; /* Adds a bottom border */
}

.card .cs1.active .p2-rg-int-c1 {
  color: #fff;
}

.card .cs1.active .p1-sb-int {
  color: #043873;
}

.card .cs1.active .p3-rg-int {
  color: #fff;
}

.carousel-pagination .dot.active {
  color: #fff;
}

/* Footer */

.icons i:hover {
  color: #ffe492; /* Change color only for the hovered icon */
}

.product a:hover {
  color: #ffe492;
}

.resources a:hover {
  color: #ffe492;
}

.company a:hover {
  color: #ffe492;
}

.footer-info a:hover {
  text-decoration: underline;
  color: #ffe492;
}

.footer-social a:hover {
  color: #ffe492;
}
